solution/unpacked/qfu_revenuefollowupworkbench-phase5-final-fix-20260428-finalfix/Workflows/QFUWorkItemActionRollup-Phase5-B7AFA683-3143-F111-BEC7-7C1E52062B6F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "qfu_shared_commondataserviceforapps"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "deedcabd-b037-47ba-b9d1-933945c979fc"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "qfu_workitemaction",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "392d1be0-880c-4117-815a-575a7bb6f677"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qfu_workitemactions",
              "$select": "qfu_workitemactionid,qfu_countsasattempt,qfu_actionon",
              "$filter": "_qfu_workitem_value eq @{triggerOutputs()?['body/_qfu_workitem_value']} and statecode eq 0",
              "$orderby": "qfu_actionon desc",
              "$top": 5000
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_rows_2": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a3e01c08-218a-4b99-9b99-426ce1ef900a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qfu_workitemactions",
              "$select": "qfu_workitemactionid,qfu_countsasattempt,qfu_actionon",
              "$filter": "_qfu_workitem_value eq @{triggerOutputs()?['body/_qfu_workitem_value']} and qfu_countsasattempt eq true and statecode eq 0",
              "$orderby": "qfu_actionon desc",
              "$top": 5000
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_a_row": {
          "runAfter": {
            "List_rows_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "48b80062-3a47-452b-94d6-c21fb569545b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qfu_workitems",
              "recordId": "@triggerOutputs()?['body/_qfu_workitem_value']",
              "item/qfu_completedattempts": "@length(outputs('List_rows_2')?['body/value'])",
              "item/qfu_lastactionon": "@if(greater(length(outputs('List_rows')?['body/value']),0),first(outputs('List_rows')?['body/value'])?['qfu_actionon'],null)",
              "item/qfu_lastfollowedupon": "@if(greater(length(outputs('List_rows_2')?['body/value']),0),first(outputs('List_rows_2')?['body/value'])?['qfu_actionon'],null)"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}